Temporary code of loading World Acces

In [15]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load
H2ODataFile = "../1_Input/number-with-without-access-to-improved-water.csv"

# Load to dataframe
H2O_World_Access_data = pd.read_csv(H2ODataFile)

# Simplify column headers
H2O_World_Access_data = H2O_World_Access_data.rename(columns = {"Population without access to improved water source (people)" : "Population without Access",
                                        "Population with access to improved water source (people)" : "Population with Access"
                                       })


H2O_World_Access_data["% Access"] = H2O_World_Access_data["Population with Access"] * 100 / (H2O_World_Access_data["Population with Access"] + H2O_World_Access_data["Population without Access"])

H2O_World_Access_data

,Entity,Code,Year,Population without Access,Population with Access,% Access
0,Afghanistan,AFG,1991,10239002,2754655,21.199998
1,Afghanistan,AFG,1992,11003229,2978002,21.299999
2,Afghanistan,AFG,1993,11864748,3230351,21.399999
3,Afghanistan,AFG,1994,12711757,3460962,21.400001
4,Afghanistan,AFG,1995,13423140,3676401,21.499998
5,Afghanistan,AFG,1996,13670152,4152732,23.300000
6,Afghanistan,AFG,1997,13786204,4595401,24.999999
7,Afghanistan,AFG,1998,13808447,5055552,26.800001
8,Afghanistan,AFG,1999,13873628,5530048,28.500002
9,Afghanistan,AFG,2000,14005348,6088408,30.300000
10,Afghanistan,AFG,2001,14257195,6709268,31.999999
11,Afghanistan,AFG,2002,14550709,7429214,33.800000
12,Afghanistan,AFG,2003,14876829,8188022,35.500000
13,Afghanistan,AFG,2004,15122600,8996379,37.299999
14,Afghanistan,AFG,2005,15268116,9802682,39.100000
15,Afghanistan,AFG,2006,15328922,10564528,40.800002
16,Afghanistan,AFG,2007,15278039,11338753,42.599999
17,Afghanistan,AFG,2008,15175481,12118550,44.400001
18,Afghanistan,AFG,2009,15066330,12938001,46.200000
19,Afghanistan,AFG,2010,14977647,13825520,47.999999
20,Afghanistan,AFG,2011,14913717,14794882,49.799999
21,Afghanistan,AFG,2012,14857328,15839630,51.599999
22,Afghanistan,AFG,2013,14786967,16944721,53.399999
23,Afghanistan,AFG,2014,14675593,18082427,55.200000
24,Afghanistan,AFG,2015,15080213,18656281,55.299999
25,Albania,ALB,1994,137924,3069612,95.700001
26,Albania,ALB,1995,137075,3050709,95.699991
27,Albania,ALB,1996,136225,3031808,95.700013
28,Albania,ALB,1997,132228,3016053,95.799994
29,Albania,ALB,1998,131398,2997132,95.800008
...,...,...,...,...,...,...
6218,Zambia,ZMB,2012,5438977,9260960,62.999998
6219,Zambia,ZMB,2013,5485462,9667748,63.800000
6220,Zambia,ZMB,2014,5529825,10091149,64.599999
6221,Zambia,ZMB,2015,5570803,10529784,65.400001
6222,Zimbabwe,ZWE,1990,2097721,8085392,79.400003
6223,Zimbabwe,ZWE,1991,2140824,8302219,79.499998
6224,Zimbabwe,ZWE,1992,2179305,8503563,79.600001
6225,Zimbabwe,ZWE,1993,2224774,8680982,79.600002
6226,Zimbabwe,ZWE,1994,2278974,8837974,79.500003
6227,Zimbabwe,ZWE,1995,2320671,8999675,79.499999
6228,Zimbabwe,ZWE,1996,2361244,9157018,79.499997
6229,Zimbabwe,ZWE,1997,2400549,9309448,79.500003
6230,Zimbabwe,ZWE,1998,2450014,9443258,79.400000
6231,Zimbabwe,ZWE,1999,2485295,9579242,79.399997
6232,Zimbabwe,ZWE,2000,2517784,9704467,79.399998
6233,Zimbabwe,ZWE,2001,2547430,9818735,79.400000
6234,Zimbabwe,ZWE,2002,2575108,9925417,79.400001
6235,Zimbabwe,ZWE,2003,2627851,10006046,79.199997
6236,Zimbabwe,ZWE,2004,2683277,10094234,79.000002
6237,Zimbabwe,ZWE,2005,2743287,10196745,78.799998
6238,Zimbabwe,ZWE,2006,2808593,10315674,78.600001
6239,Zimbabwe,ZWE,2007,2879260,10450649,78.400003
6240,Zimbabwe,ZWE,2008,2955746,10602723,78.200002
6241,Zimbabwe,ZWE,2009,3038332,10772267,77.999998
6242,Zimbabwe,ZWE,2010,3113076,10973241,77.900000
6243,Zimbabwe,ZWE,2011,3208223,11178426,77.699998
6244,Zimbabwe,ZWE,2012,3309936,11400890,77.499999
6245,Zimbabwe,ZWE,2013,3417373,11637133,77.299999
6246,Zimbabwe,ZWE,2014,3529274,11882401,77.099997
6247,Zimbabwe,ZWE,2015,3644591,12132860,76.900001

In [16]:
# File to Load
H2ODataFile = "../1_Input/water-withdrawals-per-capita.csv"

# Load to dataframe
H2O_World_Withdrawal_data = pd.read_csv(H2ODataFile)

# Simplify column headers
H2O_World_Withdrawal_data

,Entity,Code,Year,Total water withdrawal per capita (m³ per person per year)
0,Afghanistan,AFG,1975,819.50
1,Afghanistan,AFG,1985,2303.00
2,Afghanistan,AFG,2000,943.80
3,Albania,ALB,1990,370.30
4,Albania,ALB,2000,588.50
5,Albania,ALB,2005,435.40
6,Algeria,DZA,1970,130.10
7,Algeria,DZA,1975,141.30
8,Algeria,DZA,1980,145.80
9,Algeria,DZA,1985,146.30
10,Algeria,DZA,1990,165.60
11,Algeria,DZA,2000,178.90
12,Algeria,DZA,2010,225.00
13,Angola,AGO,1985,46.67
14,Angola,AGO,2000,39.76
15,Angola,AGO,2005,36.79
16,Antigua and Barbuda,ATG,1990,78.83
17,Antigua and Barbuda,ATG,2005,99.53
18,Antigua and Barbuda,ATG,2010,129.10
19,Argentina,ARG,1975,1027.00
20,Argentina,ARG,1995,797.60
21,Argentina,ARG,2010,897.50
22,Armenia,ARM,1995,932.10
23,Armenia,ARM,2000,568.80
24,Armenia,ARM,2005,956.50
25,Armenia,ARM,2010,987.60
26,Armenia,ARM,2015,1084.00
27,Australia,AUS,1995,1199.00
28,Australia,AUS,2000,1112.00
29,Australia,AUS,2005,894.40
...,...,...,...,...
610,United Arab Emirates,ARE,2005,665.20
611,United Kingdom,GBR,1980,240.20
612,United Kingdom,GBR,1985,203.50
613,United Kingdom,GBR,1990,209.90
614,United Kingdom,GBR,1995,208.00
615,United Kingdom,GBR,2000,266.60
616,United Kingdom,GBR,2005,139.20
617,United Kingdom,GBR,2010,129.20
618,United States,USA,1980,2213.00
619,United States,USA,1990,2169.00
620,United States,USA,2000,1939.00
621,United States,USA,2005,1864.00
622,United States,USA,2010,1543.00
623,Uruguay,URY,1965,236.40
624,Uruguay,URY,2000,1100.00
625,Uzbekistan,UZB,1995,2473.00
626,Uzbekistan,UZB,2000,2415.00
627,Uzbekistan,UZB,2005,2106.00
628,Venezuela,VEN,1970,333.70
629,Venezuela,VEN,2000,356.90
630,Venezuela,VEN,2005,817.80
631,Vietnam,VNM,1980,665.00
632,Vietnam,VNM,1985,708.70
633,Vietnam,VNM,2005,956.40
634,Yemen,YEM,1990,221.40
635,Yemen,YEM,2000,180.50
636,Yemen,YEM,2005,164.30
637,Zambia,ZMB,1990,203.70
638,Zambia,ZMB,1995,174.70
639,Zambia,ZMB,2000,141.10

In [18]:
H2O_World_Withdrawal_grp = H2O_World_Withdrawal_data.groupby(by="Entity")
H2O_World_Withdrawal_latestYear = pd.DataFrame(H2O_World_Withdrawal_grp["Year"].max())
H2O_World_Withdrawal_latestYear = H2O_World_Withdrawal_latestYear.reset_index()

#H2O_World_Withdrawal_latestYear

H2O_World_Withdrawal_data.head()

,Entity,Code,Year,Total water withdrawal per capita (m³ per person per year)
0,Afghanistan,AFG,1975,819.5
1,Afghanistan,AFG,1985,2303.0
2,Afghanistan,AFG,2000,943.8
3,Albania,ALB,1990,370.3
4,Albania,ALB,2000,588.5

In [19]:
Latest_World_Withdrawal = pd.merge(H2O_World_Withdrawal_data, H2O_World_Withdrawal_latestYear, how='inner', on=['Entity', 'Year'])
Latest_World_Withdrawal.head()

,Entity,Code,Year,Total water withdrawal per capita (m³ per person per year)
0,Afghanistan,AFG,2000,943.80
1,Albania,ALB,2005,435.40
2,Algeria,DZA,2010,225.00
3,Angola,AGO,2005,36.79
4,Antigua and Barbuda,ATG,2010,129.10

In [25]:
Latest_World_Water_data = pd.merge(Latest_World_Withdrawal, H2O_World_Access_data, how='left', on=['Entity', 'Year'])

Latest_World_Water_data = Latest_World_Water_data.drop(columns=['Code_y']).rename(columns={'Code_x': 'Code'})

Latest_World_Water_data

,Entity,Code,Year,Total water withdrawal per capita (m³ per person per year),Population without Access,Population with Access,% Access
0,Afghanistan,AFG,2000,943.80,14005348.0,6088408.0,30.300000
1,Albania,ALB,2005,435.40,120459.0,2891028.0,96.000016
2,Algeria,DZA,2010,225.00,5164822.0,30952815.0,85.700000
3,Angola,AGO,2005,36.79,10558373.0,8994169.0,45.999998
4,Antigua and Barbuda,ATG,2010,129.10,1988.0,92673.0,97.899874
5,Argentina,ARG,2010,897.50,742030.0,40481859.0,98.200000
6,Armenia,ARM,2015,1084.00,0.0,2916950.0,100.000000
7,Australia,AUS,2015,724.70,0.0,23789338.0,100.000000
8,Austria,AUT,2010,413.00,0.0,8363404.0,100.000000
9,Azerbaijan,AZE,2010,1279.00,1557345.0,7496987.0,82.800001
10,Bahrain,BHR,2005,348.00,0.0,889168.0,100.000000
11,Bangladesh,BGD,2010,231.00,25104602.0,127044500.0,83.500000
12,Barbados,BRB,2005,293.30,4384.0,269625.0,98.400053
13,Belarus,BLR,2015,159.40,28469.0,9461147.0,99.699998
14,Belgium,BEL,2010,542.00,0.0,10895586.0,100.000000
15,Belize,BLZ,2000,385.20,36850.0,210465.0,85.099974
16,Benin,BEN,2000,17.53,2334423.0,4531528.0,66.000005
17,Bhutan,BTN,2010,454.50,29106.0,698535.0,95.999951
18,Bolivia,BOL,2010,203.90,1299290.0,8618952.0,86.899997
19,Bosnia and Herzegovina,BIH,2015,86.06,3536.0,3532425.0,99.899999
20,Botswana,BWA,2000,108.60,91602.0,1636738.0,94.700001
21,Brazil,BRA,2010,369.70,6100684.0,190695585.0,96.900000
22,Brunei,BRN,1995,297.00,NaN,NaN,NaN
23,Bulgaria,BGR,2015,787.30,43068.0,7134923.0,99.399999
24,Burkina Faso,BFA,2005,57.35,4147376.0,9274554.0,69.100003
25,Burundi,BDI,2000,40.22,1804999.0,4595707.0,71.800001
26,Cambodia,KHM,2005,159.10,6250265.0,7019936.0,52.899998
27,Cameroon,CMR,2000,57.60,5850032.0,9424202.0,61.699998
28,Canada,CAN,2010,1113.00,68011.0,33937263.0,99.799999
29,Cape Verde,CPV,2000,48.31,76574.0,358505.0,82.399978
...,...,...,...,...,...,...,...
150,South Korea,KOR,2005,605.70,1879198.0,46305363.0,96.100000
151,South Sudan,SSD,2010,59.92,NaN,NaN,NaN
152,Spain,ESP,2010,800.90,0.0,46576897.0,100.000000
153,Sri Lanka,LKA,2005,653.60,2828458.0,16544542.0,85.400000
154,Sudan,SDN,2010,714.10,15508069.0,18877894.0,54.900001
155,Suriname,SUR,2005,1229.00,41413.0,457533.0,91.699903
156,Swaziland,SWZ,2000,963.00,510566.0,550902.0,51.900010
157,Sweden,SWE,2010,281.80,0.0,9378126.0,100.000000
158,Switzerland,CHE,2010,249.90,0.0,7824909.0,100.000000
159,Syria,SYR,2005,862.80,2067291.0,16227320.0,88.700000
160,Tajikistan,TJK,2005,1619.00,2426378.0,4427798.0,64.600004
161,Tanzania,TZA,2000,144.60,15585187.0,18592855.0,54.400000
162,Thailand,THA,2005,863.70,3729252.0,61696218.0,94.300000
163,Timor,TLS,2005,1148.00,401355.0,625129.0,60.900024
164,Togo,TGO,2000,32.87,2306250.0,2664117.0,53.600006
165,Trinidad and Tobago,TTO,2010,285.50,66405.0,1261695.0,95.000000
166,Tunisia,TUN,2010,303.70,446877.0,10193054.0,95.800001
167,Turkey,TUR,2010,561.30,1012577.0,71314337.0,98.600000
168,Turkmenistan,TKM,2005,5753.00,1892347.0,2862294.0,60.200002
169,Uganda,UGA,2010,17.99,9326662.0,24588471.0,72.499999
170,Ukraine,UKR,2010,327.70,1513733.0,44356967.0,96.700000
171,United Arab Emirates,ARE,2005,665.20,13739.0,4565823.0,99.699993
172,United Kingdom,GBR,2010,129.20,0.0,62766365.0,100.000000
173,United States,USA,2010,1543.00,2784134.0,306564059.0,99.100000
174,Uruguay,URY,2000,1100.00,106280.0,3214965.0,96.799995
175,Uzbekistan,UZB,2005,2106.00,3192374.0,22974626.0,87.800000
176,Venezuela,VEN,2005,817.80,2169517.0,24614644.0,91.900000
177,Vietnam,VNM,2005,956.40,12770776.0,69621325.0,84.500000
178,Yemen,YEM,2005,164.30,8953573.0,11629354.0,56.500001
179,Zambia,ZMB,2000,141.10,4949674.0,5581547.0,52.999999