In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load
H2ODataFile = "../1_Input/number-with-without-access-to-improved-water.csv"

# Load to dataframe
H2O_World_Access_data = pd.read_csv(H2ODataFile)

# Simplify column headers
H2O_World_Access_data = H2O_World_Access_data.rename(columns = {"Population without access to improved water source (people)" : "Population without Access",
                                        "Population with access to improved water source (people)" : "Population with Access"
                                       })


H2O_World_Access_data["% Access"] = H2O_World_Access_data["Population with Access"] * 100 / (H2O_World_Access_data["Population with Access"] + H2O_World_Access_data["Population without Access"])

H2O_World_Access_data = H2O_World_Access_data.rename(columns = {"Entity": "Country"})

# Remove rows not pointing to countries
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Arab World'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Caribbean small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Central Europe and the Baltics'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Early-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='East Asia & Pacific'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='East Asia & Pacific (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='East Asia & Pacific (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Euro area'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Europe & Central Asia'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Europe & Central Asia (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Europe & Central Asia (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='European Union'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Fragile and conflict affected situations'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Heavily indebted poor countries (HIPC)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='High income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IBRD only'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA & IBRD total'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA blend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA only'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA total'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Late-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Latin America & Caribbean'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Latin America & Caribbean (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Latin America & Caribbean (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Least developed countries: UN classification'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Low & middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Low income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Lower middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle East & North Africa'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle East & North Africa (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle East & North Africa (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='North America'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='OECD members'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Other small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Pacific island small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Post-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Pre-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='South Asia'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='South Asia (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Sub-Saharan Africa'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Sub-Saharan Africa (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Sub-Saharan Africa (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Upper middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='World'].index)

# Clean up country names to match other dataframes
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Cote d'Ivoire", "Country"] = "Cote-d-Ivoire"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Democratic Republic of Congo", "Country"] = "Congo"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Saint Lucia", "Country"] = "St-Lucia"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Saint Vincent and the Grenadines", "Country"] = "St-Vincent and the Grenadines"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Micronesia (country)", "Country"] = "Micronesia"

H2O_World_Access_data.head()

,Country,Code,Year,Population without Access,Population with Access,% Access
0,Afghanistan,AFG,1991,10239002,2754655,21.199998
1,Afghanistan,AFG,1992,11003229,2978002,21.299999
2,Afghanistan,AFG,1993,11864748,3230351,21.399999
3,Afghanistan,AFG,1994,12711757,3460962,21.400001
4,Afghanistan,AFG,1995,13423140,3676401,21.499998

In [15]:
H2O_World_Access_data["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [17]:
a1 = H2O_World_Access_data.groupby(["Country"])

waterAccess_mean = pd.DataFrame(a1["% Access"].mean())

waterAccess_mean.head()

                  % Access
Country
Afghanistan      36.228000
Albania          95.750002
Algeria          88.376923
American Samoa   97.984726
Andorra         100.000000

In [21]:
# File to Load
H2ODataFile = "../1_Input/water-withdrawals-per-capita.csv"

# Load to dataframe
H2O_World_Withdrawal_data = pd.read_csv(H2ODataFile)

# Rename columns
H2O_World_Withdrawal_data = H2O_World_Withdrawal_data.rename(columns = {"Entity": "Country"})

# Clean up country names to match other dataframes
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Cote d'Ivoire", "Country"] = "Cote-d-Ivoire"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Democratic Republic of Congo", "Country"] = "Congo"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Saint Lucia", "Country"] = "St-Lucia"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Saint Vincent and the Grenadines", "Country"] = "St-Vincent and the Grenadines"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Russia", "Country"] = "Russian Federation"

w1 = H2O_World_Withdrawal_data.groupby(["Country"])

waterWithdrawal_mean = pd.DataFrame(w1["Total water withdrawal per capita (m³ per person per year)"].mean())

waterWithdrawal_mean.head()

                     Total water withdrawal per capita (m³ per person per year)
Country
Afghanistan                                                1355.433333
Albania                                                     464.733333
Algeria                                                     161.857143
Angola                                                       41.073333
Antigua and Barbuda                                         102.486667

In [22]:
water_perCountry = pd.merge(waterAccess_mean, waterWithdrawal_mean, how="outer", left_index = True, right_index = True)

water_perCountry

,% Access,Total water withdrawal per capita (m³ per person per year)
Country,,
Afghanistan,36.228000,1355.433333
Albania,95.750002,464.733333
Algeria,88.376923,161.857143
American Samoa,97.984726,NaN
Andorra,100.000000,NaN
Angola,46.453846,41.073333
Antigua and Barbuda,97.726996,102.486667
Argentina,96.680769,907.366667
Armenia,94.862499,905.800000
Aruba,94.946197,NaN
Australia,100.000000,925.860000
Austria,100.000000,452.816667
Azerbaijan,76.661539,1366.750000
Bahamas,97.243469,NaN
Bahrain,98.423084,402.600000
Bangladesh,77.761538,231.000000
Barbados,97.992293,241.933333
Belarus,99.553845,176.840000
Belgium,100.000000,689.360000
Belize,87.784584,249.950000
Benin,68.050000,20.865000
Bhutan,86.573083,454.500000
Bolivia,80.346154,197.850000
Bosnia and Herzegovina,98.126923,86.340000
Botswana,94.792307,86.122500
Brazil,94.000000,310.925000
British Virgin Islands,94.861208,NaN
Brunei,NaN,288.200000
Bulgaria,99.676924,1036.785714
Burkina Faso,64.180770,47.912500
...,...,...
Swaziland,56.523069,995.500000
Sweden,100.000000,374.144444
Switzerland,100.000000,368.157143
Syria,87.992308,797.650000
Tajikistan,64.265216,1828.333333
Tanzania,54.638462,144.600000
Thailand,92.973077,863.700000
Timor,61.542867,1148.000000
Togo,55.173077,29.540000
Tonga,98.849970,NaN
Trinidad and Tobago,93.642311,257.575000
Tunisia,91.080769,288.085714
Turkey,93.823077,587.325000
Turkmenistan,59.630769,5550.666667
Turks and Caicos Islands,87.045426,NaN
Tuvalu,94.680684,NaN
Uganda,60.396154,16.843333
Ukraine,97.090909,385.550000
United Arab Emirates,99.665385,777.575000
United Kingdom,100.000000,199.514286
United States,98.853846,1945.600000
United States Virgin Islands,100.000000,NaN
Uruguay,97.269228,668.200000
Uzbekistan,88.556521,2331.333333
Vanuatu,78.811570,NaN
Venezuela,91.334615,502.800000
Vietnam,80.696154,776.700000
Yemen,59.482609,188.733333
Zambia,56.030768,173.166667
Zimbabwe,78.757692,NaN

In [25]:
# reset index
water_perCountry = water_perCountry.reset_index()


# Save the data:
water_perCountry.to_csv('../1_Input/DF_Interim/water_perCountry.csv', index=False, encoding='utf-8')