In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load
H2ODataFile = "../1_Input/water-withdrawals-per-capita.csv"

# Load to dataframe
H2O_World_Withdrawal_data = pd.read_csv(H2ODataFile)

# Rename columns
H2O_World_Withdrawal_data = H2O_World_Withdrawal_data.rename(columns = {"Entity": "Country"})

# Clean up country names to match other dataframes
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Cote d'Ivoire", "Country"] = "Cote-d-Ivoire"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Democratic Republic of Congo", "Country"] = "Congo"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Saint Lucia", "Country"] = "St-Lucia"
H2O_World_Withdrawal_data.loc[H2O_World_Withdrawal_data["Country"] == "Saint Vincent and the Grenadines", "Country"] = "St-Vincent and the Grenadines"

# Display
H2O_World_Withdrawal_data.head()

,Country,Code,Year,Total water withdrawal per capita (m続 per person per year)
0,Afghanistan,AFG,1975,819.5
1,Afghanistan,AFG,1985,2303.0
2,Afghanistan,AFG,2000,943.8
3,Albania,ALB,1990,370.3
4,Albania,ALB,2000,588.5

In [5]:
H2O_World_Withdrawal_data["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia'], dtype=object)

In [7]:
w1 = H2O_World_Withdrawal_data.groupby(["Country"])

waterWithdrawal_mean = pd.DataFrame(w1["Total water withdrawal per capita (m続 per person per year)"].mean())

waterWithdrawal_mean.head()

                     Total water withdrawal per capita (m続 per person per year)
Country
Afghanistan                                                1355.433333
Albania                                                     464.733333
Algeria                                                     161.857143
Angola                                                       41.073333
Antigua and Barbuda                                         102.486667