In [2]:
import pandas as pd

# The path to our CSV file
water_file = "../1_Input/Resources/Water_data.csv"
pop_file = "../1_Input/Resources/Population.csv"

# Read water data into pandas
water_df = pd.read_csv(water_file)
water_df.head()

FileNotFoundError: File b'Water_data.csv' does not exist

In [2]:
# Read population data into pandas
population_df = pd.read_csv(pop_file)
population_df.head()

,State_code,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,AL,4369862,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545
1,AK,619500,627963,633714,642337,648414,659286,666946,675302,680300,687455,698895,714015,722259,730825,736760,736759,737979,741522
2,AZ,4778332,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,6343154,6407002,6465488,6544211,6616124,6706435,6802262,6908642
3,AR,2551373,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,2896843,2921737,2938640,2949208,2956780,2964800,2975626,2988231
4,CA,33145121,33987977,34479458,34871843,35253159,35574576,35827943,36021202,36250311,36604337,36961229,37327690,37672654,38019006,38347383,38701278,39032444,39296476

In [3]:
#Merge water and population data
merge_df = pd.merge(water_df,population_df , on="State_code",suffixes=("_water","_population"), copy=True)
merge_df.head()

,State_code,1999_water,2000_water,2001_water,2002_water,2003_water,2004_water,2005_water,2006_water,2007_water,...,2007_population,2008_population,2009_population,2010_population,2011_population,2012_population,2013_population,2014_population,2015_population,2016_population
0,CA,34938616.0,34982115.0,35989579.0,36427824.0,42109090.0,42183613.0,42277601.0,39678342.0,39957597.0,...,36250311,36604337,36961229,37327690,37672654,38019006,38347383,38701278,39032444,39296476
1,CO,6009119.0,6009119.0,6009037.0,6009119.0,6009119.0,6009119.0,6009074.0,6009037.0,6009074.0,...,4803868,4889730,4972195,5048029,5116411,5186330,5262556,5342311,5440445,5530105
2,CT,NaN,2664364.0,2664364.0,2664364.0,2664364.0,2664364.0,2664364.0,2664364.0,2664364.0,...,3527270,3545579,3561807,3580171,3591927,3597705,3602470,3600188,3593862,3587685
3,FL,19228025.0,19228025.0,19228025.0,19228025.0,19228025.0,19227975.0,19228025.0,19228025.0,19227961.0,...,18367842,18527305,18652644,18846461,19097369,19341327,19584927,19897747,20268567,20656589
4,IA,2370181.0,2352599.0,2349976.0,2458129.0,2494821.0,2733140.0,2744749.0,2751614.0,2729866.0,...,2999212,3016734,3032870,3050223,3063690,3074386,3089876,3105563,3118473,3130869

In [19]:
# drop null rows
no_null_water_df = merge_df.dropna(how='any')
no_null_water_df.head()

,State_code,1999_water,2000_water,2001_water,2002_water,2003_water,2004_water,2005_water,2006_water,2007_water,...,2007_population,2008_population,2009_population,2010_population,2011_population,2012_population,2013_population,2014_population,2015_population,2016_population
0,CA,34938616.0,34982115.0,35989579.0,36427824.0,42109090.0,42183613.0,42277601.0,39678342.0,39957597.0,...,36250311,36604337,36961229,37327690,37672654,38019006,38347383,38701278,39032444,39296476
1,CO,6009119.0,6009119.0,6009037.0,6009119.0,6009119.0,6009119.0,6009074.0,6009037.0,6009074.0,...,4803868,4889730,4972195,5048029,5116411,5186330,5262556,5342311,5440445,5530105
3,FL,19228025.0,19228025.0,19228025.0,19228025.0,19228025.0,19227975.0,19228025.0,19228025.0,19227961.0,...,18367842,18527305,18652644,18846461,19097369,19341327,19584927,19897747,20268567,20656589
4,IA,2370181.0,2352599.0,2349976.0,2458129.0,2494821.0,2733140.0,2744749.0,2751614.0,2729866.0,...,2999212,3016734,3032870,3050223,3063690,3074386,3089876,3105563,3118473,3130869
5,KS,2693760.0,2693760.0,2694110.0,2694110.0,2714014.0,2712274.0,2712199.0,2711681.0,2703485.0,...,2783785,2808076,2832704,2858403,2868756,2885316,2892900,2899553,2905789,2907731

In [21]:
years = range(1999,2017)
water_norm = pd.DataFrame()
for i in range(len(years)):
    water_norm_i = no_null_water_df[str(years[i]) + "_water"] / no_null_water_df[str(years[i]) + "_population"].replace(',','')
    water_norm[str(years[i])] = water_norm_i.values
water_norm.head()

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1.054110,1.029250,1.043798,1.044620,1.194477,1.185780,1.180018,1.101527,1.102269,1.098029,1.109539,1.099263,1.089102,1.078740,1.073726,1.063904,1.054843,1.029311
1,1.481490,1.388775,1.357764,1.338213,1.326888,1.313465,1.297327,1.272987,1.250882,1.228917,1.208535,1.190389,1.174479,1.006553,0.999792,0.985185,0.967415,1.023898
2,1.272432,1.198193,1.175525,1.152112,1.130789,1.104084,1.077681,1.058405,1.046827,1.037814,1.030844,1.020240,1.007379,0.994299,0.981938,0.972664,0.954871,0.963160
3,0.826016,0.803191,0.801493,0.837741,0.848002,0.925348,0.925887,0.922542,0.910194,0.888547,0.905400,0.884686,0.874510,0.885121,0.890630,0.886664,0.885636,0.895862
4,1.014961,1.000029,0.997020,0.992841,0.996698,0.991918,0.987943,0.981451,0.971154,0.962851,0.954423,0.945982,0.942731,0.937320,0.934872,0.932671,0.929642,0.928136

KeyError: 'state_code'