In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Official Data File to Load
homocide_data_file = "../1_Input/UNdata_Export_20181129_053153609.csv"

# Load file
homocide_df = pd.read_csv(homocide_data_file)
# clinical_trial_data = pd.read_csv(clinical_trial_data_to_load)

# Rename & remove columns
homocide_df = homocide_df.rename(columns = {"Country or Area": "Country"})
homocide_df = homocide_df.drop(columns=["Source", "Source Type"])

# Clean up country names to match other dataframes
homocide_df.loc[homocide_df["Country"] == "Bolivia (Plurinational State of)", "Country"] = "Bolivia"
homocide_df.loc[homocide_df["Country"] == "Cote d'Ivoire", "Country"] = "Cote-d-Ivoire"
homocide_df.loc[homocide_df["Country"] == "Iran (Islamic Republic of)", "Country"] = "Islamic Republic of Iran"
homocide_df.loc[homocide_df["Country"] == "Hong Kong Special Administrative Region of China", "Country"] = "Hong Kong SAR-China"
homocide_df.loc[homocide_df["Country"] == "Macao Special Administrative Region of China", "Country"] = "Macao SAR China"
homocide_df.loc[homocide_df["Country"] == "Lao People's Democratic Republic", "Country"] = "Lao PDR"
homocide_df.loc[homocide_df["Country"] == "Libyan Arab Jamahiriya", "Country"] = "Libya"
homocide_df.loc[homocide_df["Country"] == "Micronesia (Federated States of)", "Country"] = "Micronesia"
homocide_df.loc[homocide_df["Country"] == "Republic of Moldova", "Country"] = "Moldova"
homocide_df.loc[homocide_df["Country"] == "Venezuela (Bolivarian Republic of)", "Country"] = "RB-de-Venezuela"
homocide_df.loc[homocide_df["Country"] == "Viet Nam", "Country"] = "Vietnam"
homocide_df.loc[homocide_df["Country"] == "Saint Lucia", "Country"] = "St-Lucia"
homocide_df.loc[homocide_df["Country"] == "Saint Vincent and the Grenadines", "Country"] = "St-Vincent and the Grenadines"
homocide_df.loc[homocide_df["Country"] == "The former Yugoslav Republic of Macedonia", "Country"] = "FYR Macedonia"
homocide_df.loc[homocide_df["Country"] == "United Kingdom of Great Britain and Northern Ireland", "Country"] = "United Kingdom"
homocide_df.loc[homocide_df["Country"] == "United States Virgin Islands", "Country"] = "US Virgin Islands"
homocide_df.loc[homocide_df["Country"] == "United States of America", "Country"] = "United States"
homocide_df.loc[homocide_df["Country"] == "Syrian Arab Republic", "Country"] = "Syrian Arab Rep"
homocide_df.loc[homocide_df["Country"] == "United Republic of Tanzania", "Country"] = "Tanzania"

homocide_df.head()

       Country  Year  Count  Rate
0  Afghanistan  2008    712   2.4
1      Albania  2010    127   4.0
2      Albania  2009     85   2.7
3      Albania  2008     93   2.9
4      Albania  2007    105   3.3

In [3]:
# Group to collect key data
h1 = homocide_df.groupby(["Country"])

homocideCount_max = pd.DataFrame(h1["Count"].max())
homocideRate_max = pd.DataFrame(h1["Rate"].max())

homocideCount_max.head()

             Count
Country
Afghanistan    712
Albania       1542
Algeria        516
Andorra          1
Angola        3426

In [4]:
homocideRate_max.head()

             Rate
Country
Afghanistan   2.4
Albania      49.9
Algeria       1.5
Andorra       1.3
Angola       19.0

In [5]:
h2 = pd.merge(homocideCount_max, homocideRate_max, how="outer", left_index = True, right_index = True)

h2 = h2.rename(columns = {"Count" : "Homocide Count",
                          "Rate" : "Homocide Rate"
                         })

h2.head()

             Homocide Count  Homocide Rate
Country
Afghanistan             712            2.4
Albania                1542           49.9
Algeria                 516            1.5
Andorra                   1            1.3
Angola                 3426           19.0

In [6]:
homocide_perCountry = h2.reset_index()

homocide_perCountry.head()

       Country  Homocide Count  Homocide Rate
0  Afghanistan             712            2.4
1      Albania            1542           49.9
2      Algeria             516            1.5
3      Andorra               1            1.3
4       Angola            3426           19.0

In [7]:
# Save the data:
homocide_perCountry.to_csv('../1_Input/DF_Interim/homocide_perCountry.csv', index=False, encoding='utf-8')